<% if attached_file.new_record? %>
  <% fields_for 'study[new_attached_file_attributes][]', @study.attached_files.build do |af| -%>      
    <div class="fields new_attachment odd">
      <a href="#" class="show_attached_file_notes" style="display:none">Edit notes...</a>
      <%= af.file_field :document, :no_label => true %>
      <%= af.text_area :notes, :class => 'attached_file_notes', :no_label => true %>
    </div>
  <% end -%>
  <p><a href="#" id="add_attachment" style="display:none">Add another attachment</a></p>   
<% else %>
  <% fields_for 'study[existing_attached_file_attributes][]', attached_file do |af| -%>      
    <div id="attachment_<%= attached_file.id %>" class="fields existing_attachment<%= cycle(' odd', '') %>">
      <span class="right">
        <a href="#" class="show_attached_file_notes" style="display:none">Edit Notes</a> |
        <%= link_to 'Delete', '#', :class => 'delete_attachment_link' %>
      </span>

      <%= icon attached_file.icon_path %>
      <%= h truncate_centrally(attached_file.document_file_name, 25) %> 
      - <span class="filesize"><%= number_to_human_size attached_file.document_file_size %></span>

      <div class="attached_file_notes">
        <%= af.text_area :notes %>                              
      </div>
    </div>
  <% end -%>  
<% end %>