<% div_for attached_file do %>

  <div class="thumbnail">
    <%= clickable_thumbnail_for attached_file %>            
  </div>      

  <div class="file_info">  
    <p>
      <%= link_to truncate_centrally(attached_file.title, 30), attached_file, :class => 'preview_attachment' %>
      <span class="file_size" style="display:none"><%= attached_file.file_string %> <%= file_size_for attached_file %></span>
    </p>
  
    <div class="notes" style="display:none;">
      <h4 class="title"><%=h truncate_centrally(attached_file.title, 30) %></h4>
      <div class="center">
        <% if attached_file.image? %>
          <%= image_tag attached_file.document.url %>
        <% else %>
          <p class="attached_file_download">
            <% img = image_tag 'download.png', :style => 'vertical-align:middle' %>
            <%= link_to img+'Download this attachment', attached_file.document.url %>
          </p>
        <% end %>
      </div>
      <% unless attached_file.notes.blank? %>
        <div class="center note"><%= safe_textilize h(attached_file.notes) %></div>
      <% end %>
    </div>
  </div>

  <div class="clear"></div>
<% end %>          