<% div_for attached_file do %>

  <div class="thumbnail">
    <%= clickable_thumbnail_for attached_file %>            
  </div>      

  <div class="file_info">
    <%= link_to 'show notes', @study, :class => 'toggle_notes_link right', :style => 'display: none' %>            
  
    <p>
      <%= facebox_enabled_link_for truncate_centrally(attached_file.title, 30), attached_file %>
      <span class="file_size" style="display:none"><%= attached_file.file_string %> <%= file_size_for attached_file %></span>
    </p>
  
    <div class="notes" style="display:none;">
      <h4 class="title">Notes on '<%=h truncate_centrally(attached_file.title, 30) %>'</h4>
      <% if attached_file.notes.blank? %>
        <em><strong>Sorry</strong> - No notes available.</em>
      <% else %>
        <%= simple_format h(attached_file.notes) %>
      <% end %>
    </div>
  </div>

  <div class="clear"></div>
<% end %>          