<% fields_for 'study[existing_attached_file_attributes][]', existing_attached_file do |af| -%>      
  <div id="attachment_<%= existing_attached_file.id %>" class="fields existing_attachment<%= cycle('', ' odd') %>">
    <span class="right">
      <% if existing_attached_file.image? %>
        <%= thumbnail_link_for(existing_attached_file) %> |
      <% end %>
      <a href="#" class="show_attached_file_notes" style="display:none">Edit Notes</a> |
      <%= link_to 'Delete', '#', :class => 'delete_attachment_link' %>
    </span>

    <%= icon existing_attached_file.icon_path %>
    <%= facebox_enabled_link_for h(truncate_centrally(existing_attached_file.document_file_name, 25)), existing_attached_file %> 
    <span class="filesize inline_spacer">
      <%= existing_attached_file.file_string %> <%= number_to_human_size existing_attached_file.document_file_size %>
    </span>

    <div class="attached_file_notes">
      <%= af.text_area :notes %>                              
    </div>
  </div>
<% end -%>