<%= render :partial => "permissions/common_controls" %>

<% sidebar_block('Syndicate') do %>
  <%= image_tag 'rss.png', :style => 'float:left;padding-right: 0.8em' %>
  You can keep track of your notifications without visiting this site by using your personalised
  <%= link_to 'atom feed', feed_notifications_url(:format => 'atom', :token => current_user.token) %>.
<% end %>

<% content_for(:head) do %>
  <%= auto_discovery_link_tag :atom, feed_notifications_url(:format => 'atom', :token => current_user.token) %>
<% end -%>

<% if @notifications.any? %>

  <% sidebar_block('Actions') do %>
    <li><%= link_to 'Delete all my notifications', discard_notifications_path,
              :confirm => 'Are you sure?', :method => :delete %></li>
    <li><%= link_to 'Delete notifications I\'ve read', discard_notifications_path(:read => true),
              :confirm => 'Are you sure?', :method => :delete %></li>  
  <% end %>

  <p class="small_spacer">
    <span class="right"><%= will_paginate @notifications %></span>
    <%= page_entries_info @notifications %>
  </p>

  <div id="notifications"><%= render :partial => @notifications %></div>
  
<% else %>

  <h2>You have no notifications!</h2>
  <div class="padded_contents">
    <%= render :partial => "help/notifications.html.erb" %>
  </div>
  
<% end %>