<h2>Your Profile</h2>

<% form_for @user, :html => { :class => 'bold' } do |f| %>

	<div class="left col">
			<%= f.text_field :first_name %>
			<%= f.text_field :last_name %>
			<%= f.text_field :email %>
	</div>

	<div id="avatar_upload_container">
		<h3 class="ride_up">Attach an avatar</h3>
		<div class="left small_col">
			<%= image_tag 'user_placeholder.png', :class => 'bordered ride_right' %>
		</div>
		<div class="right large_col">
			<p>If you like, you can upload a photo to be displayed by your name.</p>
			<%= f.file_field :avatar, :no_label => true %>
		</div>		
	</div>

	<p class="button clear"><%= f.submit 'Save my profile' %></p>
<% end %>