<h1>Sign up</h1>

<p class="note right"><em>All fields are required</em></p>

<% form_for @user, :url => account_path do |f| %>
	<%= f.error_messages %>
	<p>
		<%= f.label :login %>
		<%= f.text_field :login %>
	</p>
	<p>
		<%= f.label :email %>
		<%= f.text_field :email %>
	</p>
	<p>
		<%= f.label :password %>
		<%= f.password_field :password %>
	</p>
	<p>
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation %>
	</p>
	<div class="ride_down">
		<%= submit_tag 'Create Account' %>
		<span class="note">
			Already got an account? <%= link_to 'Sign in', signin_path %>.
		</span>
	</div>
<% end %>