<h1>Register</h1>

<% form_for @user, :url => account_path do |f| %>
	<%= f.error_messages %>
	<p>
		<%= f.label :login %>
		<%= f.text_field :login %>
	</p>
	<p>
		<%= f.label :email %>
		<%= f.text_field :email %>
	</p>
	<p>
		<%= f.label :password %>
		<%= f.password_field :password %>
	</p>
	<p>
		<%= f.label :confirm_password %>
		<%= f.password_field :confirm_password %>
	</p>
	<p><%= submit_tag 'Create Account' %></p>
<% end %>
