<% content_for :title do %>
	Register to use the NHS SDU Knowledge Base
<% end %>

<% form_for @user, :url => account_path do |f| %>
	
	<span class="note right"><em>All fields are required</em></span>

	<%= f.text_field :login %>

	<%= f.text_field :email %>

	<%= f.password_field :password %>

	<%= f.password_field :password_confirmation %>
	
	<div class="ride_down">
		<%= submit_tag 'Create Account' %>
		<span class="note">
			Already got an account? <%= link_to 'Sign in', signin_path %>.
		</span>
	</div>
<% end %>