<% if current_user == @user %>
  <% sidebar_block('Actions') do %>
    <li><%= link_to "Edit", edit_user_path(@user) %></li>
  <% end -%>  
<% elsif !@user.email_hidden %>
  <% sidebar_block('Actions') do %>
    <li><%= mail_to @user.email, "Send #{@user.name(:short)} an email" %></li>
  <% end -%>
<% end -%>

<span class="right"><%= avatar_for @user %></span>

<h1><%= h @user.name %></h1>

<h3 style="color:gray"><%= h @user.bio %></h3>

<% cache :action_suffix => "events" do %>
  <% if @user.recent_events.any? %>
    <div id="recent_activity">
      <h3 class="spacer">Recent Activity:</h3>
      
      <% for notification in Notification.build_from_events(@user.recent_events) %>
        <div class="notification">
          <p class="title">
            <%= link_to event_title_for(notification.event), notification.event.news_item %>           
            <%= relative_time(notification.event.created_at) %>
          </p>

          <p><%= event_items_for notification.event %></p>
        </div>
      <% end %>   
    </div>
  <% end %>
<% end %> 