<% require_jquery %w(add_attachment remove_attachment) %>

<% form_for @study, :html => { :multipart => true } do |f| %>

  <%= f.text_field :title, :class => 'bold' %>

  <%= f.text_area :description %>

	<div id="attachments">
		<%= saved_attachments_for @study %>

		<%= unsaved_attachments_for @study %>
	</div>
	
	<%= jquery_link 'Attach a file', :id => 'add_attachment' %>
	
	<p><%= f.submit 'Save Study' %></p>
<% end %>