<% form_for @study, :html => { :multipart => true } do |f| %>

  <%= f.text_field :title, :class => 'bold' %>

  <%= f.text_area :description %>

  <%= saved_attachments_for @study %>

	<%= new_attachments_for @study %>
	
	<p class="right"><%= f.submit 'Update' %></p>
<% end %>