<div class="study">
  <%= image_tag study.thumbnail_url, :style => 'float:right', :class => 'bordered' %>
  
  <h1>
    <%= category_image_for study %>
    <%= study.region.name %> - <%= link_to study.title, study %>
  </h1>

  <p style="color:gray"><%= [study.category, study.partnership.name].join(' | ') %></p>
  <% unless study.tag_list.blank? %>
    <p style="color:gray">tags: <%= study.tag_list.join(', ') %></p>
  <% end %>

  <div class="summary clear">
    <h4>Summary:</h4>
    <p><%= study.description %></p>  
  </div>
</div>