<div class="study">

  <h2 style="text-align: left">
    <span class="right"><%= category_image_for study %></span>
    
    <%= image_tag study.thumbnail_url, :style => 'vertical-align:middle', :class => 'bordered' %>
    <%= study.region.name %> - <%= link_to study.title, study %>
  </h2>

  <p style="color:gray">Region: <%= study.region.name %> | Partnership: <%= study.partnership.name %></p>
  
  <% unless study.tag_list.blank? %>
    <p style="color:gray">tags: <%= study.tag_list.join(', ') %></p>
  <% end %>

  <div class="summary clear">
    <h4>Summary:</h4>
    <p><%= study.description %></p>  
  </div>
</div>