<% if logged_in? && show_welcome_message? %>
	<% require_jquery 'welcome' %>

	<div id="welcome_message" style="display:none;">
		<%= render :partial => "help/welcome" %>		
	</div>
<% end %>

<% sidebar_block('About') do %>
  The SDU knowledge base is a place where information concerning environmental best practices in the NHS can be collected and discussed.
<% end %>

<% sidebar_block('New...') do %>
  <li><%= link_to "Study", new_study_path %></li>
<% end if logged_in? %>

<% sidebar_block('Tags') do %>
  <% cache :action_suffix => 'tags' do %>
    <% Study.ordered_tag_counts.each do |tag| %>
      <p>
        <span class="right"><%= tag.count %></span>
        <%= tag_link_for tag %>
      </p>
    <% end %>
  <% end %>
<% end %>

<% for study in @studies do %>
  <%= render :partial => "header", :locals => { :study => study } %>
<% end %>