<% if logged_in? && (show_welcome_message? || true) %>
	<% require_jquery 'welcome' %>

	<div id="welcome_message" style="display:none;">
		<%= render :partial => "help/welcome" %>		
	</div>
<% end %>

<% sidebar_block('About') do %>
  The SDU knowledge base is a place where information concerning environmental best practices in the NHS can be collected and discussed.
<% end %>

<% sidebar_block('New...') do %>
  <li><%= link_to "Study", new_study_path %></li>
<% end if logged_in? %>

<%= render :partial => @studies %>

<% for study in @studies do %>
  <div class="study_preview">
    <%= image_tag study.thumbnail_url, :style => 'float:left', :class => 'bordered' %>
    <h1><%= link_to study.title, study %></h1>
    <p style="color:gray"><%= [study.category, study.partnership.name, study.region.name].join(' | ') %></p>
    <p style="color:gray">tagged with: <%= study.tag_list.join(', ') %></p>
    
    <div class="clear"></div>
  </div>
<% end %>