<% if logged_in? %>
	<% watch_link_for @study %>
<% end %>

<% if can_edit? @study %>
  <% sidebar_block('Actions') do %>
    <li><%= link_to "Edit", edit_study_path(@study) %></li>
    <li><%= link_to 'Destroy', @study, :confirm => 'Are you sure?', :method => :delete %></li>
  <% end %>
<% end %>

<%= render :partial => @study %>

<div class="spacer">
  <% if @study.attached_files.any? %>
    <strong>Attached Files:</strong>

    <div id="attached_files">
      <% @study.attached_files.each do |file| %>
          <% rel_tag =  file.displayable_inline? ? (file.plain_text? ? 'rel="facebox.formatted"' : 'rel="facebox"') : ''  %>
          <a href="<%= file.document.url %>" class="attached_file" <%= rel_tag %>>
            <div class="thumbnail"><%= thumbnail_for file %></div>
            <span class="info" style="display:none">
              <p><strong><%= h truncate_centrally(file.document_file_name, 15) %></strong></p>
              <p><em><%= number_to_human_size file.document_file_size, :precision => 0 %></em></p>
            </span>
          </a>
      <% end %>
      <div class="clear"></div>
    </div>
  <% else %>
    <strong>No files have been attached to this study.</strong>
  <% end %>
</div>

<div class="footnotes">
  Last updated <%= time_ago_in_words @study.updated_at %> ago
</div>