<% content_for :title do %>
	Sign into the NHS SDU Knowledge Base
<% end %>

<% form_for @user_session, :url => user_session_path, :html => { :class => 'bold' } do |f| %>

	<span class="note right ride_up">
		<%= f.label :remember_me, 'remember me', :style => 'display:inline' %>
		<%= f.check_box :remember_me, :no_label => true %>		
	</span>

	<%= f.text_field :login %>

	<%= f.password_field :password %>
	<p>
		<%= submit_tag 'Log in' %>
		<span class="note">Don't have an account? <%= link_to 'Sign up', signup_path %> in seconds.</span>
	</p>
<% end %>