<div id="header">
	<div id="login" class="right">	
	<% if logged_in? %>
    <%= image_tag current_user.avatar.url(:tiny) %>
    <div>
  	  <p><%= current_user.name %></p> 
  		<p><%= link_to 'Settings', edit_user_path(current_user) %> | <%= link_to 'Sign out', signout_path %></p>      
    </div>
	<% else %>	
		<%= link_to 'Sign in', signin_path %> /
		<%= link_to 'Sign up', signup_path %>
	<% end %>
	</div>
	
	<div id="logo">
    <%= link_to image_tag('logo_b&w.png'), root_url %>
	</div>
	
	<div id="menu">
		<ul class="right">
    	<li id="search_link"><%= menu_link 'Search', studies_path %></li>
		</ul>
		<ul>
			<li id="studies_link"><%= menu_link 'Studies', studies_path %></li>
    	<li id="people_link"><%= menu_link 'People', users_path %></li>
    	
    	<% if logged_in? %>
      	<li id="notification_link">
      	  <%= menu_link 'My Notifications', :controller => 'notifications', :referrer => 'tab' %>
  	  
      	  <% hidden_span_if !current_user.has_unread_notifications?, 
      	    { :id => "notification_count", :class => "notification_count" } do %>   	  
      	    <%= current_user.notification_count %>
      	  <% end %>
      	</li>
      <% end %>
    
		</ul>
  </div>
</div>

<div id="search_wrapper">
  <% form_tag(search_studies_url, :method => :get, :id => 'search_form') do %>
    <%= link_to 'show filters', studies_path, :id => 'search_filters_link', :style => 'display: none' %>

    <span id="search_filters">
      <span>Use these filters to narrow your search:</span>
      <%= select_tag :region_id, options_for_lookup(Region, :id, :name, 'Filter by Region...') %>
      <%= select_tag :partnership_id, options_for_lookup(Partnership, :id, :name, 'Filter by Partnership type...') %>
      <%= select_tag :category, options_for_select_with_prompt(Study::CATEGORIES, 'Filter by category...', params[:category]) %>
    </span>

    <%= text_field_tag :search, (params[:search].blank? ? 'Search...' : params[:search]) %>
  
    <span id="cancel_search">
      <%= link_to 'cancel', studies_path %>
    </span>
  <% end -%>
</div>

