<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
	<head>
		<title>SDU Knowledge Base</title>
	
	  <%= javascript_tag "var SHOW_SEARCH_BOX = #{!!@searching};"%>
	  
		<%= javascript_include_tag %w( jquery jquery-ui ) %>
		<%= javascript_include_tag %w( jquery.livequery jquery.form jquery.timeago ) %>
		<%= javascript_include_tag %w( facebox lowpro application ) %>
		<%= javascript_include_tag %w( behaviours ) %>
		
		<%= yield(:head) %>
		
		<%= stylesheet_link_tag %w( common styles facebox facebox_custom ) %>
	</head>
	
	<body>
		
		<div id="site">
			<%= render :partial => 'layouts/header' %>
			
			<div id="content">
				<% flash.each do |key, msg| %>
					<%= content_tag :div, msg, :id => key, :class => 'flash' %>
				<% end %>
				
				<%= yield %>
			</div>
		
		  <div id="sidebar">
				<%= render :partial => 'layouts/sidebar' %>
			</div>

			<div class="push clear"></div>
		</div>
		
		<%= render :partial => 'layouts/footer' %>
	</body>
</html>