<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
	<head>
		<title>SDU Knowledgebase</title>
	
		<%= javascript_include_tag %w( jquery jquery-ui ) %>
		<%= javascript_include_tag %w( jquery.livequery ) %>
		<%= javascript_include_tag %w( facebox  lowpro application behaviours ) %>
		
		<%= yield(:head) %>
		
		<%= stylesheet_link_tag %w( common styles facebox facebox_custom ) %>
	</head>
	
	<body>
		
		<div id="site">
			<%= render :partial => 'layouts/header' %>

			<div id="content">
				<% flash.each do |key, msg| %>
					<%= content_tag :div, msg, :id => key %>
				<% end %>
				
				<%= yield %>
			</div>
		
			<div id="sidebar">
				<%= render :partial => 'layouts/sidebar' %>
			</div>
	
			<div class="push clear"></div>
		</div>
		
		<%= render :partial => 'layouts/footer' %>
	</body>
</html>