<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
	<head>
		<title>SDU Knowledgebase</title>
	
		<%= javascript_include_tag %w( jquery facebox lowpro application ) %>
		<%= yield(:head) %>
		<%= stylesheet_link_tag %w( common styles facebox ) %>
	</head>
	
	<body>
		<div id="site">
			<%= render :partial => 'layouts/header' %>

			<div id="content">
				<% flash.each do |key, msg| %>
					<%= content_tag :div, msg, :id => key %>
				<% end %>
				
				<%= yield %>
			</div>
		
			<div id="sidebar">
				This is text in the side bar
			</div>
	
			<div class="push clear"></div>
		</div>
		
		<%= render :partial => 'layouts/footer' %>
	</body>
</html>