<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>

	<head>
		<title>SDU Knowledgebase</title>

		<%= javascript_include_tag %w( jquery jquery-ui facebox lowpro application ) %>
		<%= yield(:head) %>
		<%= stylesheet_link_tag %w( facebox facebox_custom common basic ) %>
	</head>
	
	<body>
		<h1>NHS SDU</h1>
		
		<div id="content">
			<h5><%= yield(:title) %></h5>
			<div class="padded">
				<%= yield %>
			</div>
		</div>
		
	</body>
</html>